.container {
    border: 3px solid red;
    height: 200px;
    display: flex;
  /* flex-direction: column-reverse; */

  /* justify-content: flex-end;
  align-items: flex-end; */

  /* flex-wrap: wrap;
  align-content: flex-end; */

  /* column-gap: 10px;
  row-gap: 20px; */

  /* gap: 20px 10px; */

}

.box1 {
    border: 2px solid black;
    gap: 50px;

}


.box2 {
    border: 2px solid black;
    display: grid;
}




.box3 {
    border: 2px solid black;
}




.box4 {
    border: 2px solid black;

}


.box5 {
    border: 2px solid black;
}


.box6 {
    border: 2px solid black;
}


.box7 {
    border: 2px solid black;
}

.box8 {
    border: 2px solid black;
}

.box9 {
    border: 2px solid black;
}