html {
    font-family: sans-serif;
    margin:0px;
}

header {
    background-image: url("../../Images/bg-image.png");
    background-size: cover;      /* fills the header */
    background-position: center; /* centers the image */
    height: 300px;               /* give header some height */
    opacity:70%;
}

div nav ul li{
    display: inline;
    color: rgb(87, 101, 114);
}

div nav ul {
    justify-content: center;
}